/* CSS For Overall Website */
body{
    background-color: #dbdbdb;
}
p{
    font-size: 16px;
}
h5{
    margin-top: 10px;
}

.card{
    margin: 50px;
}

h3{
    padding-top: 8px;
}


/* CSS For Portfolio Columns */
.mycon{
    margin-top: 20px;
    background-color: #dbdbdb;
}
.myrow{
    background-color: #dbdbdb;
}
.myrow2{
    margin-bottom: 25px;
}
.mycol{
    margin: 5px;
    background-color: white;
}